{{!-- components/nav-main --}}
<nav class="nav-main" role="navigation">
	<ul>
		{{#each refs}}
			<li><a class="{{#if this.current}}is-current{{else}}{{/if}}" href="{{this.url}}"> {{this.name}}</a></li>
		{{/each}}
	</ul>
</nav>
