<!--
 Capitan scroll-to.hbs v1.0.0

 Copyright brandung GmbH & Co.KG
 http://www.brandung.de/

 Date: 2017-07-09
 MIT License (MIT)
 -->
<a href="#header" class="scroll-to is-hidden util-icon util-icon--before util-icon--fa-var-chevron-up">
</a>
