<!--
 Capitan scroll-to.hbs v1.0.0

 Copyright brandung GmbH & Co.KG
 http://www.brandung.de/

 Date: 2017-07-09
 MIT License (MIT)
 -->
<a href="#{{target}}" class="scroll-to is-hidden {{class}}">
</a>
