<!--
 Capitan fancybox.hbs v1.0.0

 Copyright brandung GmbH & Co.KG
 http://www.brandung.de/

 Date: 2017-07-16
 MIT License (MIT)
 -->
<div class="fancybox">
	{{!--<a href="dist/img/dummy.jpeg" data-fancybox="images" data-caption="My caption">
			<img src="dist/img/dummy.jpeg" />
	</a>--}}
	<a data-fancybox data-src="#hidden-content" href="javascript:;" data-caption="{{caption}}" data-width="1080" data-height="1080">
		<img src="dist/img/dummy.jpeg" />
	</a>
	<div style="display: none;" id="hidden-content">
		<div class="fancybox-custom">
			{{!-- <img src="dist/img/dummy.jpeg" /> --}}
		</div>
		<div class="custom-caption-wrap">
			<div class="custom-caption">
			</div>
			<button data-fancybox-close class="fancybox-button fancybox-button--close" title="{{CLOSE}}"></button>
		</div>
	</div>
</div>
