<!--
 Capitan fancybox.hbs v1.0.0

 Copyright brandung GmbH & Co.KG
 http://www.brandung.de/

 Date: 2017-07-16
 MIT License (MIT)
 -->
<div class="fancybox">
	{{!-- <a data-fancybox data-type="iframe" data-src="dist/img/dummy.jpeg" href="javascript:;" data-caption="My caption">
		<img src="dist/img/dummy.jpeg" />
	</a> --}}
	<a href="dist/img/dummy.jpeg" data-fancybox="images" data-caption="My caption">
			<img src="dist/img/dummy.jpeg" />
	</a>
	{{!-- <a href="javascript:;" data-src="#hidden-content" data-fancybox="images" data-caption="My caption">
			<img src="dist/img/dummy.jpeg" />
	</a>
	<div style="display: none;" id="hidden-content">
		<h2>Hello</h2>
		<p>You are awesome.</p>
	</div> --}}
</div>
