@charset "utf-8";
/**
 * Capitan stage.scss v1.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * http://www.brandung.de/
 *
 * Date: 2018-03-31
 * MIT License (MIT)
 */
@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';
$component: 'stage';
// block
%#{$component} {
	height: 184px;
	overflow: hidden;
	margin: auto;
	background: color('blue-light');

	@include respondMin(point('min-sm')) {
		height: 276px;
	}

	@include respondMin(point('min-md')) {
		height: 100vh;
	}

	@include respondMin(point('min-lg')) {
		height: 100vh;
	}

	@include respondMin(point('min-xl')) {
		height: calc(100vh - 63px); // subtract footer height
	}

	img {
		min-width: 100%;
		min-height: 100%;
	}
}
// element
// modifier
// component class selector
.#{$component} {
	@extend %#{$component};
}
