<!--
 Capitan meta-nav.hbs v1.0.0

 Copyright brandung GmbH & Co.KG
 http://www.brandung.de/

 Date: 2018-03-10
 MIT License (MIT)
 -->
<ul class="meta-nav">
  <li><a class="util-icon--before util-icon--fa-var-envelope" href="/" title="Kontakt"><span>Kontakt</span></a></li>
  <li><a class="util-icon--before util-icon--fa-var-copyright" href="/" title="Impressum"><span>Impressum</span></a></li>
  <li><a href="https://www.facebook.com/pages/DS-Buck-Web-Ronin/643781532322364?ref=hl" class="util-icon--before util-icon--fa-var-facebook" title="Facebook"></a></li>
  <li><a href="https://www.instagram.com/d_s_buck/" class="util-icon--before util-icon--fa-var-instagram" title="Instagram"></a></li>
  <li><a href="https://www.xing.com/profiles/Dorothea_Buck" class="util-icon--before util-icon--fa-var-xing" title="Xing"></a></li>
  <li><a href="https://github.com/dororo" class="util-icon--before util-icon--fa-var-github" title="GitHub"></a></li>
</ul>
