{{!-- views/startsite.hbs --}}

{{#> base title="DSBUCK | Startseite" }}

	{{#*inline "main-block"}}
		{{> header }}

		{{> stage }}

		<main id="main" role="main">


			<section class="section util-section-bg util-section-bg-color-blue">
				<div class="container container-content util-container-tight">
					<div class="row">
						<div class="col-xs-12 col-md-12 col-lg-12">
							<h1>Ipa panema!</h1>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
								quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
							<p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat
								vitae, eleifend ac, enim.</p>
							<blockquote>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar... </blockquote>
							<span class="cite__author">Author Unknown</span>
						</div>
					</div>
				</div>
			</section>


			<section class="section util-section-bg util-section-bg-dawn">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-12 col-lg-12">
							&nbsp;
						</div>
					</div>
				</div>
			</section>


			<section class="section util-section-bg util-section-bg-color-orange">
				<div class="container container-content">
					<div class="row">
						<div class="col-xs-12 col-md-12 col-lg-12">
							<h2 class="util-h1">STÖÖÖÖRER!</h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
								quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
							<p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat
								vitae, eleifend ac, enim.</p>
							<blockquote>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar... </blockquote>
							<span class="cite__author">Author Unknown</span>
						</div>
					</div>
				</div>
			</section>


			<section class="section util-section-bg util-section-bg-streetart">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-12 col-lg-12">
							&nbsp;
						</div>
					</div>
				</div>
			</section>

		</main>

		{{/inline}}

		{{#*inline "footer-block"}}
			{{!-- insert footer if needed --}}
			{{/inline}}

			{{/base}}
