{{!-- views/index.hbs --}}

{{#> base title="Overview" }}

	{{#*inline "main-block"}}

		<main id="main" role="main">
			<h2>Styleguide</h2>
			<ul>
				<li><a href="styleguide.html">Styleguide</a></li>
			</ul>

            {{!-- <@views --}}
			<h2>Templates</h2>
			<ul>
				<li><a href="instagram.html">instagram.html</a></li>
				<li><a href="muuri.html">muuri.html</a></li>
				<li><a href="startsite.html">startsite.html</a></li>
				<li><a href="t001.html">t001.html</a></li>
			</ul>
			{{!-- views@> --}}

			{{!-- <@views --}}
			<h2>Website Dummy</h2>
			<ul>
				<li><a href="dummy_index.html">Startsite</a></li>
				<li><a href="dummy_profile.html">Profile</a></li>
				<li><a href="dummy_instagram.html">Instagram</a></li>
			</ul>

			{{!-- views@> --}}
        </main>

	{{/inline}}

	{{#*inline "footer-block"}}
	{{!-- insert footer if needed --}}
	{{/inline}}

{{/base}}
