{{!-- views/index.hbs --}}

{{#> base title="Instagram Redirect" }}

	{{#*inline "main-block"}}
	{{> header }}

		<main id="main" role="main">

			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-12 col-lg-12">
						{{> instagram }}
					</div>
				</div>
				{{> scroll-to }}
			</div>

    </main>

	{{/inline}}

	{{#*inline "footer-block"}}
	{{!-- insert footer if needed --}}
	{{/inline}}

{{/base}}
