{{!-- views/index.hbs --}}

{{#> base title="Overview" }}

	{{#*inline "main-block"}}
		{{> header }}

		<main id="main" role="main">
			<div class="container">
				<div class="row">
					<div class="muuri">
						<div class="col-xs-12 col-md-4 col-lg-4 item">
							<div class="item-content">
								{{> teaser }}
							</div>
						</div>
						<div class="col-xs-12 col-md-4 col-lg-4 item">
							<div class="item-content">
								{{> teaser }}
							</div>
						</div>
						<div class="col-xs-12 col-md-4 col-lg-4 item">
							<div class="item-content">
								{{> teaser }}
							</div>
						</div>
						<div class="col-xs-12 col-md-4 col-lg-4 item">
							<div class="item-content">
								{{> teaser }}
							</div>
						</div>
						<div class="col-xs-12 col-md-4 col-lg-4 item">
							<div class="item-content">
								{{> teaser }}
							</div>
						</div>
						<div class="col-xs-12 col-md-4 col-lg-4 item">
							<div class="item-content">
								{{> teaser }}
							</div>
						</div>
						<div class="col-xs-12 col-md-4 col-lg-4 item">
							<div class="item-content">
								{{> teaser }}
							</div>
						</div>
						<div class="col-xs-12 col-md-4 col-lg-4 item">
							<div class="item-content">
								{{> teaser }}
							</div>
						</div>
						<div class="col-xs-12 col-md-4 col-lg-4 item">
							<div class="item-content">
								{{> teaser }}
							</div>
						</div>
						<div class="col-xs-12 col-md-4 col-lg-4 item">
							<div class="item-content">
								{{> teaser }}
							</div>
						</div>
						<div class="col-xs-12 col-md-4 col-lg-4 item">
							<div class="item-content">
								{{> teaser }}
							</div>
						</div>
						<div class="col-xs-12 col-md-4 col-lg-4 item">
							<div class="item-content">
								{{> teaser }}
							</div>
						</div>
						<div class="col-xs-12 col-md-4 col-lg-4 item">
							<div class="item-content">
								{{> teaser }}
							</div>
						</div>
						<div class="col-xs-12 col-md-4 col-lg-4 item">
							<div class="item-content">
								{{> teaser }}
							</div>
						</div>
						<div class="col-xs-12 col-md-4 col-lg-4 item">
							<div class="item-content">
								{{> teaser }}
							</div>
						</div>
						<div class="col-xs-12 col-md-4 col-lg-4 item">
							<div class="item-content">
								{{> teaser }}
							</div>
						</div>

					</div>
				</div>
			</div>

		</main>

		{{/inline}}

		{{#*inline "footer-block"}}
			{{!-- insert footer if needed --}}
			{{/inline}}

			{{/base}}
