{{!-- views/startsite.hbs --}}

{{#> base title="Startseite" }}

	{{#*inline "main-block"}}
	{{> header }}

		<main id="main" role="main">

			<section class="section util-section-bg util-section-bg-dawn">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-12 col-lg-12">
							&nbsp;
						</div>
					</div>
				</div>
			</section>

			<section class="section util-section-bg util-section-bg-color-blue">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-12 col-lg-12">
							<h1>STÖÖÖÖRER!</h1>
							<p>Text Text Text ...</p>
						</div>
					</div>
				</div>
			</section>

			<section class="section util-section-bg util-section-bg-streetart">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-12 col-lg-12">
							&nbsp;
						</div>
					</div>
				</div>
			</section>

			<section class="section util-section-bg util-section-bg-color-orange">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-12 col-lg-12">
							<h2 class="util-h1">STÖÖÖÖRER!</h2>
							<p>Text Text Text ...</p>
						</div>
					</div>
				</div>
			</section>

    </main>

	{{/inline}}

	{{#*inline "footer-block"}}
	{{!-- insert footer if needed --}}
	{{/inline}}

{{/base}}
