{{!-- views/index.hbs --}}

{{#> base title="Teaser Overview" }}

	{{#*inline "main-block"}}
	{{> header }}

		<main id="main" role="main">
			<section class="section util-section-bg util-section-bg-color-blue">

				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-6 col-lg-4">
							{{> teaser modifier="flip-teaser" class="teaser--flip" }}
						</div>
						<div class="col-xs-12 col-md-6 col-lg-4">
							{{> teaser modifier="flip-teaser" class="teaser--flip" }}
						</div>
						<div class="col-xs-12 col-md-6 col-lg-4">
							{{> teaser modifier="flip-teaser" class="teaser--flip" }}
						</div>
						<div class="col-xs-12 col-md-6 col-lg-4">
							{{> teaser modifier="flip-teaser" class="teaser--flip" }}
						</div>
						<div class="col-xs-12 col-md-6 col-lg-4">
							{{> teaser modifier="flip-teaser" class="teaser--flip" }}
						</div>
						<div class="col-xs-12 col-md-6 col-lg-4">
							{{> teaser modifier="flip-teaser" class="teaser--flip" }}
						</div>
						<div class="col-xs-12 col-md-6 col-lg-4">
							{{> teaser modifier="flip-teaser" class="teaser--flip" }}
						</div>
						<div class="col-xs-12 col-md-6 col-lg-4">
							{{> teaser modifier="flip-teaser" class="teaser--flip" }}
						</div>
						<div class="col-xs-12 col-md-6 col-lg-4">
							{{> teaser modifier="flip-teaser" class="teaser--flip" }}
						</div>
						<div class="col-xs-12 col-md-6 col-lg-4">
							{{> teaser modifier="flip-teaser" class="teaser--flip" }}
						</div>
						<div class="col-xs-12 col-md-6 col-lg-4">
							{{> teaser modifier="flip-teaser" class="teaser--flip" }}
						</div>
						<div class="col-xs-12 col-md-6 col-lg-4">
							{{> teaser modifier="flip-teaser" class="teaser--flip" }}
						</div>
						<div class="col-xs-12 col-md-6 col-lg-4">
							{{> teaser modifier="flip-teaser" class="teaser--flip" }}
						</div>
						<div class="col-xs-12 col-md-6 col-lg-4">
							{{> teaser modifier="flip-teaser" class="teaser--flip" }}
						</div>
						<div class="col-xs-12 col-md-6 col-lg-4">
							{{> teaser modifier="flip-teaser" class="teaser--flip" }}
						</div>
					</div>
					{{> scroll-to }}
				</div>
			</section>
    </main>

	{{/inline}}

	{{#*inline "footer-block"}}
	{{!-- insert footer if needed --}}
	{{/inline}}

{{/base}}
