<!--
 Capitan instagram.hbs v1.0.0

 Copyright brandung GmbH & Co.KG
 http://www.brandung.de/

 Date: 2018-01-13
 MIT License (MIT)
 -->
<div class="row instagram output fancybox teaser__wrapper" id="instafeed"></div>
