<!--
 Capitan instagram.hbs v1.0.0

 Copyright brandung GmbH & Co.KG
 http://www.brandung.de/

 Date: 2018-01-13
 MIT License (MIT)
 -->
<div class="instagram">
  {{> button class="instagram-redirect" type="button" text="Fetch"}}
  {{> button class="instagram-auth" type="button" text="oAuth"}}
  <div class="output"></div>
</div>
