<!--
 Capitan slick-slider.hbs v1.0.0

 Copyright brandung GmbH & Co.KG
 http://www.brandung.de/

 Date: 2018-03-31
 MIT License (MIT)
 -->
<div class="slick-slider">
  <div class="slick-slider__media">
    <div class="slick-slider__content">
    </div>
    <div class="slick-slide__img-wrapper">
      <picture>
        <source media="(min-width: 1440px)" srcset="dist/img/jpg/dawn.jpg">
        <source media="(min-width: 992px)" srcset="dist/img/jpg/dawn_cubic.jpg">
        <source media="(min-width: 768px)" srcset="dist/img/jpg/dawn_long.jpg">
        {{!-- <source type="image/webp" srcset="images/butterfly.webp"> --}}
        <img src="dist/img/jpg/dawn_sm.jpg">
      </picture>
    </div>
  </div>
  <div class="slick-slider__media">
    <div class="slick-slider__content">
    </div>
    <div class="slick-slide__img-wrapper">
      <picture>
        <source media="(min-width: 1440px)" srcset="dist/img/jpg/streetart2.jpg">
        <source media="(min-width: 992px)" srcset="dist/img/jpg/streetart_cubic.jpg">
        <source media="(min-width: 768px)" srcset="dist/img/jpg/streetart2_long.jpg">
        <img src="dist/img/jpg/streetart_sm.jpg">
      </picture>
    </div>
  </div>
  <div class="slick-slider__media">
    <div class="slick-slider__content">
    </div>
    <div class="slick-slide__img-wrapper">
      <picture>
        <source media="(min-width: 1440px)" srcset="dist/img/jpg/idea.jpg">
        <source media="(min-width: 992px)" srcset="dist/img/svg/idea.svg">
        <source media="(min-width: 768px)" srcset="dist/img/jpg/idea_long.jpg">
        <img src="dist/img/jpg/idea.jpg">
      </picture>
    </div>
  </div>
  <div class="slick-slider__media">
    <div class="slick-slider__content">
    </div>
    <div class="slick-slide__img-wrapper">
      <picture>
        <source media="(min-width: 1440px)" srcset="dist/img/jpg/coden.jpg">
        <source media="(min-width: 992px)" srcset="dist/img/svg/coden.svg">
        <source media="(min-width: 768px)" srcset="dist/img/jpg/coden_long.jpg">
        <img data-lazy="dist/img/jpg/coden.jpg">
      </picture>
    </div>
  </div>
</div>
