@charset "utf-8";

/**
 * Capitan footer.scss v1.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * http://www.brandung.de/
 *
 * Date: 2016-09-05
 * MIT License (MIT)
 */


/* ==========================================================================
   Footer
   ========================================================================== */

$component: 'footer';

// block
%#{$component} {
	@include prefix(transition, 'bottom 200ms ease-in .3s, opacity 100ms 350ms');
	max-width: 100%;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: 1;

	@include respondMin(point('min-lg')) {
		right: 100px;
		left: inherit;
	}

	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
    justify-content: center;
		padding: 0;
	}

	li, li > a  {
		@include fontSizeREM(15);
		height: 29px;
	}

	li {
		padding: 0 8px;
	}
}


// element


// modifier
.#{$component}--hide {
	@include respondMin(point('min-md')) {
		position: fixed;
		bottom: -63px;
		opacity: 0;
	}
}

.#{$component}--show {
	@include respondMin(point('min-md')) {
		position: fixed;
		opacity: 1;
	}
}


// component class selector
.#{$component} {
	@extend %#{$component};
}
