{{!-- components/footer --}}
<footer id="footer" class="footer footer--show util-footer-white">
	<ul>
	  <li class="util-icon--before util-icon--fa-var-copyright"> <script type="text/javascript">document.write(new Date().getFullYear());</script> DSBuck Webdesign &amp; Entwicklung</li>
		<li class="util-icon--before util-icon--fa-var-terminal"><a href="/" title="Impressum"> Impressum</a></li>
	  <li><a href="https://www.facebook.com/pages/DS-Buck-Web-Ronin/643781532322364?ref=hl" class="util-icon--before util-icon--fa-var-facebook" title="Facebook"></a></li>
	  <li><a href="https://www.instagram.com/d_s_buck/" class="util-icon--before util-icon--fa-var-instagram" title="Instagram"></a></li>
	  <li><a href="https://www.xing.com/profiles/Dorothea_Buck" class="util-icon--before util-icon--fa-var-xing" title="Xing"></a></li>
	  <li><a href="https://github.com/dororo" class="util-icon--before util-icon--fa-var-github" title="GitHub"></a></li>
		<li><a class="util-icon--before util-icon--fa-var-envelope" href="/" title="Kontakt"></a></li>
	</ul>
</footer>
{{> scroll-to target="main" class="scroll-to--up is-hidden" }}
{{> scroll-to target="footer" class="scroll-to--down is-active" }}
