<div style='width: 320px; background: black; box-sizing: border-box; padding: 0 15px; height:40px; line-height: 40px; color:white; margin-bottom: 20px;'>FEATUREPHONE<span class='util-right'>320px</span></div>
<div style='width: 480px; background: black; box-sizing: border-box; padding: 0 15px; height:40px; line-height: 40px; color:white; margin-bottom: 20px;'>SMARTPHONE<span class='util-right'>480px</span></div>
<div style='width: 768px; background: black; box-sizing: border-box; padding: 0 15px; height:40px; line-height: 40px; color:white; margin-bottom: 20px;'>TABLET<span class='util-right'>768px</span></div>
<div style='width: 992px; background: black; box-sizing: border-box; padding: 0 15px; height:40px; line-height: 40px; color:white; margin-bottom: 20px;'>DESKTOP<span class='util-right'>992px</span></div>
<div style='width: 1200px; background: black; box-sizing: border-box; padding: 0 15px; height:40px; line-height: 40px; color:white; margin-bottom: 20px;'>RETINA<span class='util-right'>1200px</span></div>
