<div class='row'>
	<div class='col-xs-6 col-md-2'>
		<div style='background: #000; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
		<b>'black':</b> #000
	</div>
	<div class='col-xs-6 col-md-2'>
		<div style='background: #fff; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
		<b>'white':</b> #fff
	</div>
	<div class='col-xs-6 col-md-2'>
		<div style='background: #666; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
		<b>'grey':</b> #666
	</div>
	<div class='col-xs-6 col-md-2'>
		<div style='background: #333; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
		<b>'grey-dark':</b> #333
	</div>
	<div class='col-xs-6 col-md-2'>
		<div style='background: #ccc; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
		<b>'grey-light':</b> #ccc
	</div>
	<div class='col-xs-6 col-md-2'>
		<div style='background: #fafafa; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
		<b>'grey-lightest':</b> #fafafa
	</div>
</div>
<div class='row'>
	<div class='col-xs-6 col-md-2'>
		<div style='background: #999; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
		<b>'placeholder':</b> #999
	</div>
	<div class='col-xs-6 col-md-2'>
		<div style='background: #c00; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
		<b>'ci':</b> #c00
	</div>
	<div class='col-xs-6 col-md-2'>
		<div style='background: #a00; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
		<b>'ci-hover':</b> #a00
	</div>
	<div class='col-xs-6 col-md-2'>
		<div style='background: #9e1726; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
		<b>'error':</b> #9e1726
	</div>
	<div class='col-xs-6 col-md-2'>
		<div style='background: #10B044; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
		<b>'success':</b> #10B044
	</div>
	<div class='col-xs-6 col-md-2'>
		<div style='background: #f0ad4e; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
		<b>'warning':</b> #f0ad4e
	</div>
</div>
<div class='row'>
	<div class='col-xs-6 col-md-2'>
		<div style='background: #2989D8; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
		<b>'info':</b> #2989D8
	</div>
</div>