<div class='row'>
	<div class='col-xs-6 col-md-2'>
		<div class='util-icon--before util-icon--close' style='text-align:center; font-family: "icomoon"; padding: 15px; width: 100%; border: solid 1px black; height: 75px; color: black; line-height:40px; font-size:40px;'>		</div>
		<b>.util-icon--close:</b> '\e900'
	</div>
</div>