
<!doctype html>
<html class="no-js" lang="de">
	<head>
		<title>Styleguide</title>

		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="apple-touch-icon" href="apple-touch-icon.png" />
		
		<script>
			var html = document.querySelector('html');
			html.className = html.className.replace('no-js', '');
		</script>
		<link rel="stylesheet" href="/dist/css/main.css" />
		<script async src="/dist/js/main.js"></script>
	</head>
	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">Sie verwenden einen <strong>veralteten</strong> Browser. Bitte <a href="http://browsehappy.com/" target="_blank">aktualisieren Sie Ihren Browser</a> um die Seite richtig darstellen zu können.</p>
		<![endif]-->
		<noscript>
			<p><strong>JavaScript scheint in Ihrem Browser deaktiviert zu sein.</strong></p>
			<p>Sie müssen JavaScript in Ihrem Browser aktivieren um alle Funktionen der Seite nutzen zu können.</p>
		</noscript>


		<div data-role="sg" data-type="sg__section" data-name="0. Header" data-headline="hidden">
			<header class="header">
				Header
				<nav class="nav-main" role="navigation">
					Navi
				</nav>
			</header>
		</div>

		<main id="main" role="main">
			<a href="/index.html" class="btn btn--block" title="Templates">Templates</a>
			
			<div data-role="sg" data-type="sg__section" data-name="1. Colors">
				<div class='row'>
					<div class='col-xs-6 col-md-2'>
						<div style='background: #000; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
						<b>'black':</b> #000
					</div>
					<div class='col-xs-6 col-md-2'>
						<div style='background: #fff; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
						<b>'white':</b> #fff
					</div>
					<div class='col-xs-6 col-md-2'>
						<div style='background: #666; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
						<b>'grey':</b> #666
					</div>
					<div class='col-xs-6 col-md-2'>
						<div style='background: #333; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
						<b>'grey-dark':</b> #333
					</div>
					<div class='col-xs-6 col-md-2'>
						<div style='background: #ccc; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
						<b>'grey-light':</b> #ccc
					</div>
					<div class='col-xs-6 col-md-2'>
						<div style='background: #fafafa; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
						<b>'grey-lightest':</b> #fafafa
					</div>
				</div>
				<div class='row'>
					<div class='col-xs-6 col-md-2'>
						<div style='background: #999; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
						<b>'placeholder':</b> #999
					</div>
					<div class='col-xs-6 col-md-2'>
						<div style='background: #c00; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
						<b>'ci':</b> #c00
					</div>
					<div class='col-xs-6 col-md-2'>
						<div style='background: #a00; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
						<b>'ci-hover':</b> #a00
					</div>
					<div class='col-xs-6 col-md-2'>
						<div style='background: #9e1726; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
						<b>'error':</b> #9e1726
					</div>
					<div class='col-xs-6 col-md-2'>
						<div style='background: #10B044; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
						<b>'success':</b> #10B044
					</div>
					<div class='col-xs-6 col-md-2'>
						<div style='background: #f0ad4e; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
						<b>'warning':</b> #f0ad4e
					</div>
				</div>
				<div class='row'>
					<div class='col-xs-6 col-md-2'>
						<div style='background: #2989D8; padding: 15px; width: 100%; border: solid 1px black; height: 100px;'>		</div>
						<b>'info':</b> #2989D8
					</div>
				</div>			</div>

			<div data-role="sg" data-type="sg__section" data-name="2. Icons">
				<div class='row'>
					<div class='col-xs-6 col-md-2'>
						<div class='util-icon--before util-icon--close' style='text-align:center; font-family: "icomoon"; padding: 15px; width: 100%; border: solid 1px black; height: 75px; color: black; line-height:40px; font-size:40px;'>		</div>
						<b>.util-icon--close:</b> '\e900'
					</div>
				</div>			</div>

			<div data-role="sg" data-type="sg__section" data-name="3. Breakpoints">
				<div class="row" style="overflow-x: auto">
					<div style='width: 320px; background: black; box-sizing: border-box; padding: 0 15px; height:40px; line-height: 40px; color:white; margin-bottom: 20px;'>FEATUREPHONE<span class='util-right'>320px</span></div>
					<div style='width: 480px; background: black; box-sizing: border-box; padding: 0 15px; height:40px; line-height: 40px; color:white; margin-bottom: 20px;'>SMARTPHONE<span class='util-right'>480px</span></div>
					<div style='width: 768px; background: black; box-sizing: border-box; padding: 0 15px; height:40px; line-height: 40px; color:white; margin-bottom: 20px;'>TABLET<span class='util-right'>768px</span></div>
					<div style='width: 992px; background: black; box-sizing: border-box; padding: 0 15px; height:40px; line-height: 40px; color:white; margin-bottom: 20px;'>DESKTOP<span class='util-right'>992px</span></div>
					<div style='width: 1200px; background: black; box-sizing: border-box; padding: 0 15px; height:40px; line-height: 40px; color:white; margin-bottom: 20px;'>RETINA<span class='util-right'>1200px</span></div>
				</div>
			</div>

			<div data-role="sg" data-type="sg__section" data-name="4. Grid">
				<div class="row">
					<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-6 .col-md-1</div>
					<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-6 .col-md-1</div>
					<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-6 .col-md-1</div>
					<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-6 .col-md-1</div>
					<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-6 .col-md-1</div>
					<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-6 .col-md-1</div>
					<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-6 .col-md-1</div>
					<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-6 .col-md-1</div>
					<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-3 .col-md-1</div>
					<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-3 .col-md-1</div>
					<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-3 .col-md-1</div>
					<div class="col-sm-6 col-md-1" style="overflow:hidden;">.col-sm-3 .col-md-1</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6 col-md-2" style="overflow:hidden;">.col-sm-6 .col-md-2</div>
					<div class="col-sm-6 col-md-2" style="overflow:hidden;">.col-sm-6 .col-md-2</div>
					<div class="col-sm-6 col-md-2" style="overflow:hidden;">.col-sm-6 .col-md-2</div>
					<div class="col-sm-6 col-md-2" style="overflow:hidden;">.col-sm-6 .col-md-2</div>
					<div class="col-sm-6 col-md-2" style="overflow:hidden;">.col-sm-6 .col-md-2</div>
					<div class="col-sm-6 col-md-2" style="overflow:hidden;">.col-sm-6 .col-md-2
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-3" style="overflow:hidden;">.col-sm-3</div>
					<div class="col-sm-3" style="overflow:hidden;">.col-sm-3</div>
					<div class="col-sm-3" style="overflow:hidden;">.col-sm-3</div>
					<div class="col-sm-3" style="overflow:hidden;">.col-sm-3</div>
				</div>
				
				<div class="row">
					<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
					<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
					<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
				</div>
				
				<div class="row">
					<div class="col-sm-5" style="overflow:hidden;">.col-sm-5</div>
					<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
					<div class="col-sm-3" style="overflow:hidden;">.col-sm-3</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6" style="overflow:hidden;">.col-sm-6</div>
					<div class="col-sm-6" style="overflow:hidden;">.col-sm-6</div>
				</div>
				
				<div class="row">
					<div class="col-sm-7" style="overflow:hidden;">.col-sm-7</div>
					<div class="col-sm-5" style="overflow:hidden;">.col-sm-5</div>
				</div>
				
				<div class="row">
					<div class="col-sm-8" style="overflow:hidden;">.col-sm-8</div>
					<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6 col-md-9" style="overflow:hidden;">.col-sm-9</div>
					<div class="col-sm-6 col-md-3" style="overflow:hidden;">.col-sm-3</div>
				</div>
				
				<div class="row">
					<div class="col-sm-10" style="overflow:hidden;">.col-sm-10</div>
					<div class="col-sm-2" style="overflow:hidden;">.col-sm-2</div>
				</div>
				
				<div class="row">
					<div class="col-sm-11" style="overflow:hidden;">.col-sm-11</div>
					<div class="col-sm-1" style="overflow:hidden;">.col-sm-1</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12" style="overflow:hidden;">.col-sm-12</div>
				</div>
				
				<h3 class="sg__hl sg__hl--subline">Nested Grids</h3>
				<div class="row">
					<div class="col-sm-3" style="overflow:hidden;">.col-sm-3</div>
					<div class="col-sm-9" style="overflow:hidden;">
						.col-sm-9
						<div class="row">
							<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
							<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
							<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
						</div>
						<h3 class="sg__hl sg__hl--subline">Nested with .container</h3>
						<div class="container">
							<div class="row">
								<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
								<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
								<div class="col-sm-4" style="overflow:hidden;">.col-sm-4</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div data-role="sg" data-type="sg__section" data-name="5. Typo Elements">
				<h3 class="sg__hl sg__hl--subline">Headlines</h3>
				
				<h1>The quick brown fox jumps over the lazy dog</h1>
				<h2>The quick brown fox jumps over the lazy dog</h2>
				<h3>The quick brown fox jumps over the lazy dog</h3>
				<h4>The quick brown fox jumps over the lazy dog</h4>
				<h5>The quick brown fox jumps over the lazy dog</h5>
				<h6>The quick brown fox jumps over the lazy dog</h6>
				
				<h3 class="sg__hl sg__hl--subline">Paragraphs</h3>
				
				<p><i>Lorem</i> ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. <a href="#">Cum sociis natoque penatibus</a> et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla <b>consequat</b> massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi</p>
				
				<h3 class="sg__hl sg__hl--subline">Unordered lists</h3>
				
				<ul>
					<li>The quick brown fox jumps over the lazy dog</li>
					<li>The quick brown fox jumps over the lazy dog</li>
					<li>The quick brown fox jumps over the lazy dog</li>
				</ul>
				
				<h3 class="sg__hl sg__hl--subline">Ordered lists</h3>
				
				<ol>
					<li>The quick brown fox jumps over the lazy dog</li>
					<li>The quick brown fox jumps over the lazy dog</li>
					<li>The quick brown fox jumps over the lazy dog</li>
				</ol>
				
				<h3 class="sg__hl sg__hl--subline">Tables</h3>
				
				<table>
					<caption>Lorem ipsum</caption>
					<thead>
						<tr>
							<th>Lorem ipsum</th>
							<th>Dolor sit amet</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</td>
							<td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</td>
							<td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</td>
							<td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div data-role="sg" data-type="sg__section" data-name="6. Components">

				<div data-role="sg" data-type="sg__component" data-name="Alert">

					<div class="alert alert--warning">
						<p>Warning</p>
						<ul>
							<li>Message 1</li>
							<li>Message 2</li>
							<li>Message 3</li>
						</ul>
					</div>

					<div class="alert alert--info">
						<p>Infotext</p>
					</div>
					<div class="alert alert--success">
						<p>Success</p>
					</div>
					<div class="alert alert--error">
						<p>Error</p>
					</div>
				</div>

				<div data-role="sg" data-type="sg__component" data-name="Buttons">
					<h4 class="sg__hl sg__hl--subline">Button defaults</h4>

					<button class="btn " >Button</button>
					<a href="/test" class="btn " title="Anker Button">Anker Button</a>
					<input type="submit" class="btn " value="Input Button"  />
					<button class="btn " disabled="disabled">Button disabled</button>

					<h4 class="sg__hl sg__hl--subline">Button Variants</h4>
					<button class="btn btn--block" >.btn--block</button>

					<h4 class="sg__hl sg__hl--subline">Button Styles</h4>
					<button class="btn btn--primary" >.btn--primary</button>
					<button class="btn btn--secondary" >.btn--secondary</button>
					<button class="btn btn--ghost" >.btn--ghost</button>
					<button class="btn btn--cta" >.btn--cta</button>

					<h4 class="sg__hl sg__hl--subline">Button Group alignments</h4>
					<div class="btn-group ">
					<button class="btn " >Button</button>
					<button class="btn " >Button</button>
					</div>

					<div class="btn-group btn-group--centered">
					<button class="btn " >Button</button>
					<button class="btn " >Button</button>
					</div>

					<div class="btn-group btn-group--right">
					<button class="btn " >Button</button>
					<button class="btn " >Button</button>
					</div>

					<div class="btn-group btn-group--inline">
					<button class="btn util-left" >Button</button>
					<button class="btn util-right" >Button</button>
					</div>
				</div>

				<div data-role="sg" data-type="sg__component" data-name="Forms">
                    
                    <form class="form form--transition"
                    		method="get"
                    		action="/"
                    		
                    >
                    
                        <h4 class="sg__hl sg__hl--subline">Form Fields</h4>
                        <div class="row">
                            <div class="form__field-wrapper col-xs-12 col-md-6">
                                <input type="text"
                                       id="text"
                                       name=""
                                       value=""
                                       title="Input | text "
                                       placeholder="Placeholder Text"
                                       
                            		   
                            		   
                            		   
                            		   
                                />
                                <label class="form__label" for="text">Input | text  </label>
                            </div>
                            <div class="form__field-wrapper col-xs-12 col-md-6">
                                <input type="date"
                                       id="date"
                                       name=""
                                       value=""
                                       title="Input | date"
                                       placeholder="Placeholder Text"
                                       
                            		   
                            		   
                            		   
                            		   
                                />
                                <label class="form__label" for="date">Input | date </label>
                            </div>
                            <div class="form__field-wrapper col-xs-12 col-md-6">
                                <input type="email"
                                       id="email"
                                       name=""
                                       value=""
                                       title="Input | email"
                                       placeholder="Placeholder Text"
                                       
                            		   
                            		   
                            		   
                            		   
                                />
                                <label class="form__label" for="email">Input | email </label>
                            </div>
                            <div class="form__field-wrapper col-xs-12 col-md-6">
                                <input type="password"
                                       id="password"
                                       name=""
                                       value=""
                                       title="Input | password"
                                       placeholder="Placeholder Text"
                                       
                            		   
                            		   
                            		   
                            		   
                                />
                                <label class="form__label" for="password">Input | password </label>
                            </div>
                            <div class="form__field-wrapper col-xs-12 col-md-6">
                                <input type="number"
                                       id="number"
                                       name=""
                                       value=""
                                       title="Input | number"
                                       placeholder="Placeholder Text"
                                       
                            		   
                            		   
                            		   
                            		   
                                />
                                <label class="form__label" for="number">Input | number </label>
                            </div>
                    	</div>
                    	<div class="row">
                    		<div class="col-xs-12 col-md-6">
                    			<div class="row">
                    					<div class="form__field-wrapper col-md-12">
                    					    <select
                    					            id="select"
                    					            name=""
                    								title="Select"
                    					            
                    					            
                    								
                    					    >
                    					        <option
                    					                value=""
                    					                selected
                    					        >
                    					            Bitte wählen
                    					        </option>
                    					        <option
                    					                value="0"
                    					                
                    					        >
                    					            Option 1
                    					        </option>
                    					        <option
                    					                value="1"
                    					                
                    					        >
                    					            Option 2
                    					        </option>
                    					    </select>
                    					    <label class="form__label" for="select">Select </label>
                    					</div>
                    
                    				<div class="form__field-wrapper col-xs-12">
                    				    <input type="checkbox"
                    				           id="checkbox1"
                    				           name=""
                    				           value=""
                    				           title="Input | checkbox"
                    				           placeholder=""
                    				           
                    						   
                    						   
                    						   
                    						   
                    				    />
                    				    <label class="form__label" for="checkbox1">Input | checkbox </label>
                    				</div>
                    				<div class="form__field-wrapper col-xs-6">
                    				    <input type="radio"
                    				           id="radio1"
                    				           name="radiofield"
                    				           value=""
                    				           title="Input | radio"
                    				           placeholder=""
                    				           
                    						   
                    						   
                    						   
                    						   
                    				    />
                    				    <label class="form__label" for="radio1">Input | radio </label>
                    				</div>
                    				<div class="form__field-wrapper col-xs-6">
                    				    <input type="radio"
                    				           id="radio2"
                    				           name="radiofield"
                    				           value=""
                    				           title="Input | radio"
                    				           placeholder=""
                    				           
                    						   
                    						   
                    						   
                    						   
                    				    />
                    				    <label class="form__label" for="radio2">Input | radio </label>
                    				</div>
                    			</div>
                    		</div>
                    
                    		<div class="col-xs-12 col-md-6">
                    			<div class="row">
                    				<div class="form__field-wrapper col-md-12">
                    				    <textarea
                    				            id="textarea"
                    							name=""
                    				            title="Textarea"
                    				            placeholder="Placeholder Text"
                    				            
                    				            
                    							
                    				    ></textarea>
                    				    <label class="form__label" for="textarea">Textarea </label>
                    				</div>
                    			</div>
                    		</div>
                    	</div>
                    
                    	<h4 class="sg__hl sg__hl--subline">Field Attributes</h4>
                    	<div class="row">
                    		<div class="form__field-wrapper col-xs-12 col-md-6">
                    		    <input type="text"
                    		           id="attr1"
                    		           name=""
                    		           value=""
                    		           title="Input | [required]"
                    		           placeholder="Placeholder Text"
                    		           
                    				   
                    				   required
                    				   
                    				   data-error-message="Bitte Feld ausfüllen" 
                    		    />
                    		    <label class="form__label" for="attr1">Input | [required] *</label>
                    		</div>
                    		<div class="form__field-wrapper col-xs-12 col-md-6">
                    		    <input type="text"
                    		           id="attr2"
                    		           name=""
                    		           value=""
                    		           title="Input | [disabled]"
                    		           placeholder="Placeholder Text"
                    		           disabled
                    				   
                    				   
                    				   
                    				   
                    		    />
                    		    <label class="form__label" for="attr2">Input | [disabled] </label>
                    		</div>
                    		<div class="form__field-wrapper col-xs-12 col-md-6">
                    		    <input type="text"
                    		           id="attr3"
                    		           name=""
                    		           value=""
                    		           title="Input | [pattern]"
                    		           placeholder="Placeholder Text"
                    		           
                    				   
                    				   required
                    				   pattern="[A-Za-z]{3}" 
                    				   
                    		    />
                    		    <label class="form__label" for="attr3">Input | [pattern] *</label>
                    		</div>
                    		<div class="form__field-wrapper col-xs-6">
                    		    <input type="checkbox"
                    		           id="attr4"
                    		           name=""
                    		           value=""
                    		           title="Input | [checked]"
                    		           placeholder=""
                    		           
                    				   checked
                    				   
                    				   
                    				   
                    		    />
                    		    <label class="form__label" for="attr4">Input | [checked] </label>
                    		</div>
                    	</div>
                    
                    	<h4 class="sg__hl sg__hl--subline">Field Status Types</h4>
                    	<div class="row">
                    		<div class="form__field-wrapper col-xs-12 col-md-6 is-invalid">
                    		    <input type="text"
                    		           id="status1"
                    		           name=""
                    		           value=""
                    		           title="Input | .is-invalid"
                    		           placeholder="Placeholder Text"
                    		           
                    				   
                    				   required
                    				   
                    				   
                    		    />
                    		    <label class="form__label" for="status1">Input | .is-invalid *</label>
                    		</div>
                    		<div class="form__field-wrapper col-xs-12 col-md-6 is-valid">
                    		    <input type="text"
                    		           id="status2"
                    		           name=""
                    		           value=""
                    		           title="Input | .is-valid"
                    		           placeholder="Placeholder Text"
                    		           
                    				   
                    				   required
                    				   
                    				   
                    		    />
                    		    <label class="form__label" for="status2">Input | .is-valid *</label>
                    		</div>
                    		<div class="form__field-wrapper col-xs-12 col-md-6 is-invalid">
                    		    <input type="checkbox"
                    		           id="status3"
                    		           name=""
                    		           value=""
                    		           title="Input | .is-invalid"
                    		           placeholder="Placeholder Text"
                    		           
                    				   
                    				   required
                    				   
                    				   
                    		    />
                    		    <label class="form__label" for="status3">Input | .is-invalid *</label>
                    		</div>
                    		<div class="form__field-wrapper col-xs-12 col-md-6 is-valid">
                    		    <input type="checkbox"
                    		           id="status4"
                    		           name=""
                    		           value=""
                    		           title="Input | .is-valid"
                    		           placeholder="Placeholder Text"
                    		           
                    				   
                    				   required
                    				   
                    				   
                    		    />
                    		    <label class="form__label" for="status4">Input | .is-valid *</label>
                    		</div>
                    		</div>
                    </form>
				</div>


				<div data-role="sg" data-type="sg__component" data-name="Teaser">
					<div class="row">
						<div class="col-xs-12 col-md-4">
							<!--
							 Capitan teaser.hbs v1.0.0
							
							 Copyright brandung GmbH & Co.KG
							 http://www.brandung.de/
							
							 Date: 2017-06-09
							 MIT License (MIT)
							 -->
							<div class="teaser teaser--flip">
								<div class="teaser--flip__item">
									<div class="teaser--flip__front">
										<div class="teaser__media">
											<picture>
												<img src="https://dummyimage.com/600x400/424242/969696" />
											</picture>
										</div>
										<div class=="teaser__content">
											<div class="teaser__text">
												Lorem Ipsum ...
											</div>
										</div>
									</div>
									<div class="teaser--flip__back">
										<div class=="teaser__content">
											<div class="teaser__text">
												Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
											</div>
										</div>
										<span href="#" class="util-icon--before util-icon--close"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<!--
							 Capitan teaser.hbs v1.0.0
							
							 Copyright brandung GmbH & Co.KG
							 http://www.brandung.de/
							
							 Date: 2017-06-09
							 MIT License (MIT)
							 -->
							<div class="teaser teaser--flip">
								<div class="teaser--flip__item">
									<div class="teaser--flip__front">
										<div class="teaser__media">
											<picture>
												<img src="https://dummyimage.com/600x400/424242/969696" />
											</picture>
										</div>
										<div class=="teaser__content">
											<div class="teaser__text">
												Lorem Ipsum ...
											</div>
										</div>
									</div>
									<div class="teaser--flip__back">
										<div class=="teaser__content">
											<div class="teaser__text">
												Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
											</div>
										</div>
										<span href="#" class="util-icon--before util-icon--close"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<!--
							 Capitan teaser.hbs v1.0.0
							
							 Copyright brandung GmbH & Co.KG
							 http://www.brandung.de/
							
							 Date: 2017-06-09
							 MIT License (MIT)
							 -->
							<div class="teaser teaser--flip">
								<div class="teaser--flip__item">
									<div class="teaser--flip__front">
										<div class="teaser__media">
											<picture>
												<img src="https://dummyimage.com/600x400/424242/969696" />
											</picture>
										</div>
										<div class=="teaser__content">
											<div class="teaser__text">
												Lorem Ipsum ...
											</div>
										</div>
									</div>
									<div class="teaser--flip__back">
										<div class=="teaser__content">
											<div class="teaser__text">
												Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
											</div>
										</div>
										<span href="#" class="util-icon--before util-icon--close"></span>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- <@newComponent@> -->

			</div>
		</main>


		<footer class="footer">
			Footer
		</footer>

	</body>
</html>
