
<!doctype html>
<html class="no-js" lang="de">
	<head>
		<title>Overview</title>

		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="apple-touch-icon" href="apple-touch-icon.png" />
		
		<script>
			var html = document.querySelector('html');
			html.className = html.className.replace('no-js', '');
		</script>
		<link rel="stylesheet" href="/dist/css/main.css" />
		<script async src="/dist/js/main.js"></script>
	</head>
	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">Sie verwenden einen <strong>veralteten</strong> Browser. Bitte <a href="http://browsehappy.com/" target="_blank">aktualisieren Sie Ihren Browser</a> um die Seite richtig darstellen zu können.</p>
		<![endif]-->
		<noscript>
			<p><strong>JavaScript scheint in Ihrem Browser deaktiviert zu sein.</strong></p>
			<p>Sie müssen JavaScript in Ihrem Browser aktivieren um alle Funktionen der Seite nutzen zu können.</p>
		</noscript>


		<main id="main" role="main">

			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-4">
						<!--
						 Capitan teaser.hbs v1.0.0
						
						 Copyright brandung GmbH & Co.KG
						 http://www.brandung.de/
						
						 Date: 2017-06-09
						 MIT License (MIT)
						 -->
						<div class="teaser teaser--flip">
							<div class="teaser--flip__item">
								<div class="teaser--flip__front">
									<div class="teaser__media">
										<picture>
											<img src="https://dummyimage.com/600x400/424242/969696" />
										</picture>
									</div>
									<div class=="teaser__content">
										<div class="teaser__text">
											Lorem Ipsum ...
										</div>
									</div>
								</div>
								<div class="teaser--flip__back">
									<div class=="teaser__content">
										<div class="teaser__text">
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
										</div>
									</div>
									<span href="#" class="util-icon--before util-icon--close"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<!--
						 Capitan teaser.hbs v1.0.0
						
						 Copyright brandung GmbH & Co.KG
						 http://www.brandung.de/
						
						 Date: 2017-06-09
						 MIT License (MIT)
						 -->
						<div class="teaser teaser--flip">
							<div class="teaser--flip__item">
								<div class="teaser--flip__front">
									<div class="teaser__media">
										<picture>
											<img src="https://dummyimage.com/600x400/424242/969696" />
										</picture>
									</div>
									<div class=="teaser__content">
										<div class="teaser__text">
											Lorem Ipsum ...
										</div>
									</div>
								</div>
								<div class="teaser--flip__back">
									<div class=="teaser__content">
										<div class="teaser__text">
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
										</div>
									</div>
									<span href="#" class="util-icon--before util-icon--close"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<!--
						 Capitan teaser.hbs v1.0.0
						
						 Copyright brandung GmbH & Co.KG
						 http://www.brandung.de/
						
						 Date: 2017-06-09
						 MIT License (MIT)
						 -->
						<div class="teaser teaser--flip">
							<div class="teaser--flip__item">
								<div class="teaser--flip__front">
									<div class="teaser__media">
										<picture>
											<img src="https://dummyimage.com/600x400/424242/969696" />
										</picture>
									</div>
									<div class=="teaser__content">
										<div class="teaser__text">
											Lorem Ipsum ...
										</div>
									</div>
								</div>
								<div class="teaser--flip__back">
									<div class=="teaser__content">
										<div class="teaser__text">
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
										</div>
									</div>
									<span href="#" class="util-icon--before util-icon--close"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

    </main>



	</body>
</html>
